.root {
    background-color: rgba(44, 47, 56, 0.94);
    color: white;
}

.scanCode {
    padding: 20px 0;
}

.header {
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.logo {
    width: 75%;
    padding: 42px 33px;
}

.close {
    padding: 42px 33px;
    opacity: 0.5;
}

.userAgreement {
    padding: 20px 0;
}